<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <div class="foot">
        <ul class="footer resp footresp">
            <div id="footfs">Copyright © www.onlineNotes.com. All rights reserved!</div>
            <!-- <li id="footbw"><a href="#">Notes</a></li> -->
            <a href="/"><img src="/img/logoo1.png" alt="" id="img-sz"></a>
            <ul class="footer" id="footls">
                <li><a href="/">Home</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </ul>
    </div>
</body>
</html>


<!-- ejs file ka use kr rhe hai nd ye files ko ek baar likh kr mutiple time uss kr ske uske liye likh rhe hai
ye files ka use layout directory ke files mai kr rhe hai -->