<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
</head>

<body>
    <ul class="navbar">
        <a href="/"><img src="/img/logoo1.png" alt="" id="img-size"></a>
        <form action="/dashboard/search" role="search" method="POST" class="navbar" id="navbw">
            <input type="search" name="searchTerm" id="" placeholder="Search..." aria-label="Search" class="inputtag">
        </form>
        <ul class="navbar" id="navls">
            <li><a href="/logout">Logout</a></li>
        </ul>
    </ul>
</body>

</html>

<!-- iss file ka use dashboard.ejs jo ki layouts directory mai hai vaha kr rhe hai -->