<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- locals.title %></title>
    <meta name="description" content="<%- locals.description %>">
    
    <link rel="stylesheet" href="/css/main.css">
</head>
<body class="">
    <div class="display-flex ">
        <div class="container">
            <h4 class="welcome" >
                Sign In/ Sign Up first.
            </h4>
            <a href="/" style="font-size: 2.4rem;">Return to Home Page</a>
        </div>
    </div>
</body>
</html>