<div class="container-fluid-custom display-flex ">
    <div class="container">
        <h4 class="welcome">
            Page Not Found
        </h4>
        <div class="intro">
            Sorry, we can't find the page you are looking for
        </div><br>
        <div class="intro">
            But Don't Worry, You Can........
        </div>
        <a href="/">Explore Notes</a>
    </div>
</div>


<!-- ye file ko doosare file se call kiya hai render krne ke liye mtlb web page pr kya shoe ho uske liye ye pura content main.ejs jo ki layout directory mai hai uske body mai dalega nd uske baad jo code vaha hoga vaisa  web page show hone lgega ye file ke through basically ese url ko handle kr rhe hai jo hai hi nhi hmare project mai -->