<h1>About</h1>


<!-- isme hum '/about' url pr web page pr kya show ho kaisa design style ho vo handle kr rhe hai ess file ko
route ke index.js file se call kiya hai ye pura code jo iss file mai hai vo uthega aur main.ejs ke body mai dl kr '/about' url ke webpage pr show hone lgega -->