<div class="display-flex ">
    <div class="container">
        <h4 class="welcome">
            Welcome !!!! <br/>you can Create your notes here
        </h4>
        <div class="intro">
            This Notes storing app made with Node.js, EJS & MongoDB
        </div>
        <a href="/auth/google">Try Notes,it's Free</a>
    </div>
</div>


<!-- iss file ko route ke index.js file se call kiya hai jisme home page pr kaise design,element ins hort home page kaise dikhe uske liye bnaya hai ye pura content main.ejs ke body ke dalega aur phir home page jo '/' pr hai uspe dikhne lgega -->